@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'iranSans';
    src: url('../fonts/Vazir-Regular.woff') format('woff');
}

body {
    font-family: 'iranSans', 'YourSecondFont', Arial, Helvetica, sans-serif !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(224, 224, 224);
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.post-box p {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-comment {
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.loader {
    border: 9px solid #f3f3f3;
    border-top: 9px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    display: block;
}

.rounded-table thead tr th:first-child {
    border-radius: 0 5px 0 0;
}

.rounded-table thead tr th:last-child {
    border-radius: 5px 0 0 0;
}

.rounded-table tbody tr:nth-child(odd) {
    background-color: rgb(138, 147, 161);
    transition: all ease-in 0.1s;
}

.rounded-table tbody tr:nth-child(even) {
    background-color: rgb(114, 124, 133);
    transition: all ease-in 0.1s;
}

.rounded-table tbody tr:nth-child(even):hover {
    background-color: rgb(89, 97, 100);
    transition: all ease-in 0.1s;
}

.rounded-table tbody tr:nth-child(odd):hover {
    background-color: rgb(89, 97, 100);
    transition: all ease-in 0.1s;
}

.rounded-table tbody tr:last-child td:first-child {
    border-radius: 0 0 5px 0;
}

.rounded-table tbody tr:last-child td:last-child {
    border-radius: 0 0 0 5px;
}

.rounded-table tbody tr td {
    text-align: center;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

input:focus-visible {
    outline: none !important;
}